@import '../Button/Button.css';

[data-fx-button][data-fx-a] {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 2rem;
  color: var(--blue-gray);
  min-height: 3.2rem;
  border-radius: 0.4rem;
  &:hover {
    background-color: var(--blue-gray-palie);
  }
}
