[data-fx-button] {
  border-radius: 0.8rem;
  min-width: 28.8rem;
  min-height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.6rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  &[data-primary] {
    background-color: var(--primary);
    color: var(--onPrimary);
  }
  &[disabled] {
    background-color: var(--disabled);
    color: var(--onDisabled);
  }

  & [data-icon='spinner'] {
    display: none;
  }
  & [data-icon='spinner'] {
    display: initial;
  }
}
