[data-fx-dialog] {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  [data-icon='logo-opensea'] {
    width: 4.8rem;
    height: 4.8rem;
  }
  [data-icon='close'] {
    width: 2.4rem;
    height: 2.4rem;
  }
  & [data-contents] {
    min-width: 36rem;
    min-height: 34.2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    row-gap: 1.6rem;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 1.6rem;
    padding: 3.6rem;
    box-shadow: 0 15px 40px 0 #363e4c33, 0 10px 15px 0 #363e4c1a, 0 10px 15px 0px #363e4c4d;
    & > header {
      height: 4.8rem;
      display: flex;
      justify-content: space-between;
    }
    & > main {
      flex: 1;
    }
    & > footer {
      display: flex;
      flex-direction: column;
      row-gap: 3.2rem;
      & [data-copyright] {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.8rem;
        color: var(--secondary);
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 400;
      }
    }
  }

  &:before {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000044;
  }
}
