@import '../../componet/Dialog/Dialog.css';
@import './Button.css';
@import './Spinner.css';
[data-fx-tooltip] {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover [data-text] {
    visibility: visible;
  }
  & [data-text] {
    visibility: hidden;
    width: 12rem;
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -6rem;
    opacity: 0.8;
  }
}
