article[data-wallet] {
  display: grid;
  row-gap: 2.4rem;
  background-color: var(--white);
  > [data-fx-heading] {
    position: absolute;
    clip: rect(0 0 0 0);
  }
  & section[data-success] {
    display: flex;
    flex-flow: column;
    row-gap: 1.2rem;
    align-items: center;
    [data-fx-heading] {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin-bottom: 0.6rem;
    }
    & p[data-ready] {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
    }
    & p[data-address] {
      padding: 1.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--dark-gray);
      line-height: 2.2rem;
      letter-spacing: 0.005em;
      background-color: var(--light-gray);
      border-radius: 1.6rem;
    }
  }
}

[data-fx-dialog]:has([data-create-wallet]) {
  & [data-contents] {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
}
