article:has([data-error='INSUFFICIENT']) {
  > section[data-main] > p[data-send] {
    color: var(--red);
  }
}
[data-fx-dialog] {
  [data-icon='close'] {
    cursor: pointer;
  }
}
article[data-transaction] {
  display: grid;
  grid-template-columns: 100%;
  align-content: start;
  min-height: 44.6rem;
  row-gap: 2.4rem;
  padding-bottom: 1.6rem;
  > [data-fx-heading] {
    position: absolute;
    clip: rect(0 0 0 0);
  }
  & section[data-main] {
    > [data-fx-heading] {
      font-size: 2.4rem;
      line-height: 3.6rem;
      font-weight: 700;
    }
    & p {
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 300;
      letter-spacing: 0.005em;
    }
  }
  [data-error] {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    font-weight: 400;
    font-size: 1.4rem;
  }
}

article[data-transaction][data-insufficient] {
  [data-entry='send'] dd {
    color: var(--red);
  }
  [data-error] {
    display: flex;
  }
}
