article[data-transaction][data-submit] {
  > [data-fx-heading] {
    position: absolute;
    clip: rect(0 0 0 0);
  }
  & p[data-send] {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
  }
  & section[data-main] [data-unit] {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--dark-gray);
    line-height: 3.6rem;
  }
  [data-fx-card][data-available] {
    background: transparent;
    border: 1px solid var(--medium-gray);
  }
}
