[data-icon] {
}
[data-icon='logo-opensea'] {
  width: 4.8rem;
  height: 4.8rem;
}
[data-icon='close'] {
  width: 2.4rem;
  height: 2.4rem;
  color: #a1b2be;
}
[data-icon='logo'] {
  width: 9.545rem;
  height: 1.2rem;
}
[data-icon='spinner'] {
  width: 2rem;
  height: 2rem;
  stroke: var(--light-blue);
}
svg[data-icon='open-in-new'] {
  width: 2rem;
  height: 2rem;
}
