[data-fx-tooltip] {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.4rem 0.6rem;
  border-radius: 0.8rem;
  background: transparent;
  [data-content],
  [data-content]:before {
    box-shadow: 0 4px 6px -2px #0e151f14, 0 12px 16px -4px #0e151f1f;
  }
  [data-content] {
    opacity: 0;
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    min-width: 6.9rem;
    min-height: 3.4rem;
    padding: 0.8rem;
    border-radius: 0.6rem;
    top: -100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  [data-content]:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: solid black 0.8rem;
    border-left: solid transparent 0.7rem;
    border-right: solid transparent 0.7rem;
    position: absolute;
    bottom: -0.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
