@import 'font.css';
@import 'theme.css';
@import 'component/index.css';
@import 'util.css';
@import 'responsive.css';

/*
 브라우저 자동 폰트 조정 막기, 브라우저 마다 다르게 작동해서 html, body 두군데 적용해야 함.
 */
html,
body {
  text-size-adjust: none;
}

html {
  font-family: 'Inter', sans-serif;
  //font-family: 'Noto Sans KR', sans-serif;
  overflow-wrap: break-word;
  hyphens: auto;
}
