[data-sr-only] {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

[data-ellipsis] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-loading] {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200px 100%;
  animation: shimmer 1.5s infinite;
  width: 70%;
  border-radius: 0.5rem;
  opacity: 0.5;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
