/*
  subgrid 효과 : status entry 에 하단 보더를 그려주기 위함
*/
[data-fx-card][data-transaction] {
  &,
  [data-entry='status'] {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) 3fr;
    row-gap: 1.6rem;
  }
}

[data-fx-card][data-transaction] {
  & [data-icon='check-circle-icon'] {
    color: var(--green-main);
    width: 2rem;
    height: 2.2rem;
  }
  border-radius: 0.4rem;
  background-color: var(--light-gray);
  padding: 1.6rem;
  column-gap: 0.5rem;

  & [data-entry] {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--dark-gray);
  }

  & [data-entry='status'] {
    grid-column: 1/-1;
    border-bottom: solid 1px var(--medium-gray);
    padding-bottom: 1.6rem;
    & [data-value] {
      display: flex;
      column-gap: 0.4rem;
    }
  }

  & [data-entry='total'] {
    & [data-amount] {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2.2rem;
      letter-spacing: 0.005em;
      color: var(--dark-gray-main);
    }
  }

  & [data-key],
  & [data-value] {
    line-height: 2.2rem;
    letter-spacing: 0.005em;
  }

  & [data-key] {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & [data-value] {
    font-weight: 400;
    justify-self: end !important;
  }
}
